extends layout/_layout

prepend head
	title Цифровизация девелопмента
	meta(name="description" content="Помогаем девелоперам оптимизировать и автоматизировать бизнес-процессы с помощью современных IT-решений")

block content
	section.s1
		.s1__bg: +picture-min(jpg, 's1-bg', 'sl')

		.container
			h1.s1__heading #[span.text-primary Цифровизация] девелопмента

			p.s1__subtitle Помогаем девелоперам оптимизировать и&nbsp;автоматизировать бизнес-процессы с&nbsp;помощью современных IT-решений

			+Button.s1__target-button(primary type="button" data-uk-toggle="#callback") Оставить заявку

	section#section-about.s2
		.container 
			h2.first-primary.s2__heading О компании

			.s2__list-wrapper
				.s2__hero-image: +picture-min(jpg, 's2-hero', 'l')

				ul.s2__list
					li.s2__list-item.s2__list-item--1(data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 150")
						.s2__list-item_number 8
						.s2__list-item_text лет внедряем цифровые решения в&nbsp;девелопменте
					li.s2__list-item.s2__list-item--2(data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 150")
						.s2__list-item_number 79
						.s2__list-item_text млрд ₽ помогли заработать девелоперам за все время
					li.s2__list-item.s2__list-item--3(data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 150")
						.s2__list-item_number 20
						.s2__list-item_text лет в строительной сфере на&nbsp;федеральном уровне
					li.s2__list-item.s2__list-item--4(data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 150")
						.s2__list-item_number 48
						.s2__list-item_text сотрудников работают над проектами клиентов
					li.s2__list-item.s2__list-item--5(data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 150")
						.s2__list-item_number 45 000
						.s2__list-item_text трудочасов потратили на&nbsp;реализовацию проектов

				+Button.s2__button(primary type="button" data-uk-toggle="#callback") Заказать консультацию

	section#section-services.s3 
		.container 
			h2.first-primary.s3__heading Услуги

			ul.s3__breadcrumbs
				-
					const titles = [
						'Сайты', 'Моб. приложения', 'it-инфраструктура', 'Бизнес-аналитика', 
						'1С-предприятие', 'IP-телефония', 'ЭДО', 'Умный дом', 'CRM', 'Дизайн',
					]

				each label, index in titles 
					- const hasSlash = !!'0134678'.match(index)
					- const isSlashNarrow = !!'34'.match(index)
					-
						const classes = [
							's3__breadcrumb',
							{ 
								's3__breadcrumb--has-slash' : hasSlash, 
								's3__breadcrumb--slash-narrow': isSlashNarrow
							}
						]
					li(class=classes)
						.s3__breadcrumb-image: +picture-min(jpg, `s3-i${index + 1}`, 's')
						a(href="/product.html" data-text=label)= label

			.s3__preview-image-wrap
				+StarSvg.s3__preview-star
				- for(let i = 1; i <= 10; i++)
					.s3__preview-image: +picture(jpg, `s3-i${i}`, 'l')
				.s3__preview-text.d-none Мы предлагаем разработку современных сайтов, которые помогут вывести бизнес на новый уровень

	section#section-projects.s4 
		.container 
			h2.first-primary.s4__heading Реализованные#[br] #[span.text-primary проекты]

			+Slider.s4__slider(finite)
				+SliderItems()(overflowVisible)
					- for(let i = 0; i < 4; i++)
						+SliderItem.s4__slider-item
							.s4__slider-image-container: +picture-min(png, 's4-i1', 'sl')
							p.s4__slider-item-title Мобильное#[br] приложение «Талан»
							a(href="#").s4__slider-item-link 
								span Перейти в кейс 
								+ArrowRightSvg

			a.s4__show-all-link(href="#") 
				| Смотреть все проекты
				+ArrowRightSvg

			+Button.s4__show-all-button(href="#" tag="a" outline primary)
				| Смотреть все проекты
				+ArrowRightSvg

	section.s5 
		.container 
			+picture-min(jpg, 's5-star').s5__star-image
			p.s5__float-title оставьте заявку
			h2.s5__heading Хотите провести #[span.text-primary цифровизацию] бизнеса, но не знаете с чего начать?

			form.form.s5__form
				.input-wrap.s5__form-input-wrap
					input.input.s5__form-input(type="text" name="name" placeholder="Введите имя")
				.input-wrap.s5__form-input-wrap
					input.input.phone.s5__form-input(type="tel" name="phone" placeholder="Введите телефон")
				.input-wrap.s5__form-input-wrap
					input.input.s5__form-input.s5__form-input--last(type="email" name="email" placeholder="Введите e-mail")
				+Button.s5__submit-button(primary type="submit") Заказать консультацию
				.s5__form-agreement Нажимая на кнопку, вы принимаете Положение и Согласие на обработку персональных данных.

	section.s6 
		.container 
			h2.s6__heading.first-primary Этапы работ

			ul.s6__steps-container
				-
					const listData = [
						{
							title: 'Проводим аудит\u000Aбизнес-процессов',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Составляем отчет по выявленным проблемам',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Разрабатываем дорожную карту',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Подбираем ответственных\u000Aисполнителей',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Формируем рабочие\u000Aгруппы',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Пишем техническое задания для исполнителей',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Реализуем и внедряем цифровые решения',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Формируем команды\u000Aдля поддержки',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
						{
							title: 'Передаем готовую систему в эксплуатацию бизнесу',
							descr: 'Аудит позволяет выявить слабые места в процессах и существующих цифровых решениях у девелоперов и сформировать видение того будующей работы',
						},
					]

				each item, index in listData
					- const { title, descr } = item
					li.s6__step-item
						.s6__step-image: +picture(jpg, 's6-i1')
						span.s6__step-counter #[=index + 1] Этап
						p.s6__step-title= title
						p.s6__step-descr= descr

	section.s9 
		.container
			h2.s9__heading Ваш бизнес#[br.d-lg-none] после#[br.d-none.d-lg-inline] внедрения #[span.text-primary цифровизации] 

			ul.s9__list
				li.s9__list-item
					+ThinMagnifierSvg.s9__list-icon 
					div.s9__list-text-wrap
						.s9__list-title Порядок в данных
						.s9__list-descr Устраняются ошибки ведения CRM, потери лидов#[br.d-none.d-lg-inline] и необходимой информации
				li.s9__list-item
					+ThinDollarCircleSvg.s9__list-icon 
					div.s9__list-text-wrap
						.s9__list-title Рост продаж
						.s9__list-descr Сокращается цикл сделок и увеличивается#[br.d-none.d-lg-inline] конверсия в продажи
				li.s9__list-item
					+ThinDollarCircleTimeSvg.s9__list-icon 
					div.s9__list-text-wrap
						.s9__list-title Снижение затрат
						.s9__list-descr Оптимизируются затраты на маркетинг#[br.d-none.d-lg-inline] и строительство
				li.s9__list-item
					+ThinClockSvg.s9__list-icon 
					div.s9__list-text-wrap
						.s9__list-title Экономия времени
						.s9__list-descr Все бизнес-процессы выстроены в одну систему,#[br.d-none.d-lg-inline] что позволяет грамотно руководить бизнесом
				li.s9__list-item
					+ThinDollarCircleTimeSvg.s9__list-icon 
					div.s9__list-text-wrap
						.s9__list-title Эффективное управление
						.s9__list-descr Все решения оперативно принимаются на местах#[br.d-none.d-lg-inline] благодаря правильной дистрибуции данных

			+Button.s9__button(primary type="button" data-uk-toggle="#callback") Заказать консультацию

	section#section-team.s7 
		.container 
			h2.s7__heading #[span.text-primary Команда] разработки и&nbsp;внедрения цифровых решений
			figure.s7__figure
				.s7__team-image: +picture-min(jpg, 's7-team', 'sl')
				figcaption.s7__figcaption В нашей команде собраны лучшие#[br]IT-специалисты, способные решать самые сложные бизнес-задачи#[br]в сфере девелопмента

	section#section-vacancies.s8 
		.container 
			h2.s8__heading Вакансии в&nbsp;#[span.text-primary T.Dev]

			ul.s8__job-list
				- for(let i = 0; i < 3; i++)
					li.s8__list-item
						div 
							p.s8__job-position Front-end разработчик
							p.s8__job-salary от 80 000 ₽ за месяц
						+Button.s8__item-button(primary type="button") Откликнуться

			a(href="#").s8__link-show-all 
				span Смотреть все вакансии
				+ArrowRightSvg

			+Button.s8__show-all-button(href="#" tag="a" outline primary)
				| Смотреть все вакансии
				+ArrowRightSvg

	section.s10 
		.container
			.s10__content-container
				.s10__head
					h2.s10__title Остались #[span.text-primary вопросы?]
					.s10__subtitle Заказжите консультацию, она поможет сформировать точные требования к развитию цифровых технологий в вашем бизнесе

				form.s10__form
					.input-wrap 
						input.input.s10__form-input(type="text" name="name" placeholder="Введите ваше имя")
					.input-wrap 
						input.input.phone.s10__form-input(type="tel" name="phone" placeholder="Введите телефон")
					.input-wrap 
						input.input.s10__form-input(type="email" name="email" placeholder="Введите e-mail")
					+Button.s10__submit-button(primary type="submit") Заказать консультацию
					.s10__form-agreement Нажимая на кнопку, вы принимаете Положение и Согласие на обработку персональных данных.

	section#section-contacts.s11 
		.container 
			.s11__content-container
				.s11__map-image: +picture-min(jpg, 's11-map', 'sl')

				.s11__contacts 
					h2.s11__title Контакты

					.s11__contacts-info-container
						.s11__contacts-info-block
							.s11__contacts-info-title Адрес:
							.s11__contacts-info-item г.Ижевск ул.Адмирала Ушакова д.5
						.s11__contacts-info-block
							.s11__contacts-info-title Контакты:
							a.s11__contacts-info-item(href="tel:+79999999999") +7 999 999 99 99
							a.s11__contacts-info-item(href="tel:++79998888877") +7 999 888 88 77

					.s11__personal-links 
						a(href="#") Обработка персональных данных
						a(href="#") Условия использования
						a(href="#") Политика конфиденциальности
